.card {
  display: flex;
  background-color: #f2eadc;
  color: black;
  justify-content: center;
  align-items: center;
  border-color: #d2c2a5;
  border-radius: 1.5vh;
  border-width: 1.25vh;
}

.cardButton {
  background-color: white;
  width: 80%;
  height: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
  text-transform: uppercase;
}
