.box {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255 255 255 / 80%);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    width: 50vw;
    border-radius: 1.5vh 1.5vh 0 0;
}
