/* Handles location and styling of top left timer */
.box {
  position: absolute;
  top: 7.5vh;
  left: 1.5vw;
  background-color: rgb(0 0 0 / 55%);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 4vw;
  border-radius: 1.5vh;
  width: 12.5vw;
  text-align: center;
}
